<div class="jumbotron">
    <h1 class="display-4">Advinhe se a carta é par ou ímpar!</h1>
    <p class="lead">Acerte se a carta que irá aparecer é par ou ímpar e seja o mestre da advinhação!</p>
    <hr class="my-4">
    <h3 class="display-6">Regras:</h3>
    <p>
      Selecione se o valor será par ou ímpar. <br><br>

      Sendo que Ás, Valete e Rei são ímpar e a Rainha é par. <br><br>

      Se acertar carta, você vence.<br>
      Mas se errar, você <mark style="color:Tomato;background:none;">PERDE!!!!!!!!!</mark><br>
      Jogue e se torne o maior advinho do multiverso!

    <hr class="my-4">

    <p>Será par ou ímpar?</p>
    <select [(ngModel)]="selectedOption">
        <option *ngFor="let o of options">
          {{o.name}}
        </option>
    </select> 
    <hr class="my-4">
    <p class="lead">
      <button class="btn btn-primary btn-lg" role="button" (click)="newDeck()">Mostrar Carta</button>
    </p>
</div>